---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Porfolio Anas Zine Boujemaoui - Software Developper"
	description="Hire Anas Zine Boujemaoui, a Junior Developer who is eager to learn and grow and has a fiery passion for technology. From Murcia, Spain."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img
				class="rounded-full size-12 mb-4"
				src="https://media.licdn.com/dms/image/D4D03AQF5mamBr7BxOA/profile-displayphoto-shrink_800_800/0/1710021756839?e=2147483647&v=beta&t=PjElSfWrVkZHskQ2ngVxi0gU2cMHgGtFTCrK3GHYHAI"
				alt="Anas photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
			>
				Hey, I'm Anas! <a
					href="https://www.linkedin.com/in/anas-zine-90747b173/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Open to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
				I'm a Junior Developer with a humble background but fiery
				passion for technology. Eager to soak up knowledge and grow, I
				dive into every project with enthusiasm and determination.<br />
				<span class="text-red-100/90">From Murcia, Spain.</span>
			</h2>
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill
					href="https://www.linkedin.com/in/anas-zine-90747b173/"
				>
					<LinkedInIcon class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/Flare785">
					<GitHubIcon class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:anaszine200220@gmail.com">
					<MailIcon class="size-4 md:size-6" />
					anaszine200220@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Work experience
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<CodeIcon class="size-7" />
				Projects
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
